.slider-container {
  width: 100%;
  height: 450px;
}

.slider-slide {
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slider-overlay {
  width: 100%;
  height: 100%;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0,0,0,0.4);
  color: white;
}
@media (max-width: 480px) {
  .slider-container {
    height: 380px; /* better mobile height */
  }
}
